<app-menu></app-menu>
<div class="container">
    <br>
    <h2 style="text-align: center;">{{title}}</h2>
    <hr>  
    <div class="card">
      <div class="card-body"style="padding-left: 15%;">
          <div class="panel panel-primary">
              <div class="panel-heading">
                <h2 style="text-align: center;">Liste des utilisateurs</h2>
                </div>
                <div class="panel-body">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Matricule</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let user of utilisateurs | async">
                        <td>{{user.nom}}</td>
                        <td>{{user.prenom}}</td>
                        <td>{{user.matricule}}</td>
                        <td> <button (click)="updateUtilisateurs(user.id)" class="btn btn-info" style="margin-left: 10px;border-radius: 100px;">Modifier</button>
                          
                            <button (click)="utilisateursDetails(user.id)" class="btn btn-success" style="margin-left: 10px;border-radius: 100px;">Détails</button>
                            <button (click)="deleteUtilisateurs(user.id)" class="btn btn-danger" style="margin-left: 10px; border-radius: 100px;">Supprimer</button>
                            <button (click)="(user.id)" class="btn btn-warning" style="margin-left: 10px; border-radius: 100px;">Voir Dossier</button>
                         
                          </td>
                      </tr>
                    </tbody>
                  </table>
              </div>
            </div>
      </div>
    </div>
  </div>














































































