<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
      <li class="nav-item">
       <a (click)="afficherListUser()" class="nav-link">utilisateurs</a>
      </li>
    <li class="nav-item">
        <a (click)="ajoutUser()" class="nav-link">Ajouter des utilisateurs</a>
    </li>
    <li class="nav-item">
      <a (click)="fichier()" class="nav-link">Fichier</a>
    </li>
    <li class="nav-item">
         <a (click)="deconnexion()" class="nav-link">Déconnexion</a>
    </li>
  </ul>
</nav>
