<div class="container">
    <br>
    <h2 style="text-align: center;">{{title}}</h2>
    <hr>  
    <div class="card">
      <div class="card-body">
      <h2>Détails utilisateur</h2> 
  
  <hr/>
  <div *ngIf="utilisateurs">
    <div>
      <label><b>Nom : </b></label> {{utilisateurs.nom}}
    </div>
    <div>
      <label><b>Prénom: </b></label> {{utilisateurs.prenom}}
    </div>
    <div>
      <label><b>Matricule: </b></label> {{utilisateurs.matricule}}
    </div>  
    <div>
      <label><b>Adresse: </b></label> {{utilisateurs.adresse}}
    </div>
    <div>
      <label><b>Email: </b></label> {{utilisateurs.mail}}
    </div>
    <div>
      <label><b>Téléphone: </b></label> {{utilisateurs.telephone}}
    </div>
    <div>
      <label><b>Service: </b></label> {{utilisateurs.service}}
    </div>
    <div>
      <label><b>Fonction: </b></label> {{utilisateurs.fonction}}
    </div>
    <div>
      <label><b>Mot de passe: </b></label> {{utilisateurs.mot_de_passe_identifiant}}
    </div>
  </div>
  
  <br>
  <br>
  <button (click)="list()" class="btn btn-primary">Retour </button><br>
      </div>
    </div>
  </div>