<div class="container">
    <br>
    <h2 style="text-align: center;">{{title}}</h2>
    <hr>  
    <div class="card">
      <div class="card-body">
      <div class="container col-lg-6">
      <h1 class="text-center">Login</h1>
      <div class="card">
        <div class="card-body">
          <form class="form-group">
            <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
            <div class="alert alert-success" *ngIf='loginSuccess'>{{successMessage}}</div>
            <div class="form-group">
              <label for="email">Email :</label>
              <input type="text" class="form-control" [(ngModel)]="mail" id="mail" placeholder="Entrer votre email"
                name="mail">
            </div>
            <div class="form-group">
              <label for="pwd">Mot de passe :</label>
              <input type="password" class="form-control" [(ngModel)]="password" id="password" placeholder="Entrer votre mot de passe"
                name="password">
            </div>
            <button (click)=handleLogin() class="btn btn-success"style="margin-left: 200px;border-radius: 150px;">Login</button>
          </form>
        </div>
      </div>
    </div>
      </div>
    </div>
  </div>