<div class="container">
    <br>
    <h2 style="text-align: center;">{{title}}</h2>
    <hr>  
    <div class="card">
      <div class="card-body">
      <h3>Modification du fichier</h3>
  <div [hidden]="submitted" style="width: 400px;">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
          <label for="name">Nom du fichier</label>
          <input type="text" class="form-control" id="nom_fichier" required [(ngModel)]="fichier.nom_fichier" name="nom_fichier">
        </div>

      <button type="submit" class="btn btn-success"style="margin-left: 10px;border-radius: 100px;">Enregistrer</button><button (click)="list()" class="btn btn-primary" style="margin-left: 10px;border-radius: 100px;">Retour </button>
     
    </form>
  </div>
      </div>
    </div>
  </div>
