<app-menu></app-menu>
<div class="container">
    <br>
    <h2 style="text-align: center;">{{title}}</h2>
    <hr>  
    <div class="card">
      <div class="card-body">
          <div class="panel panel-primary">
              <div class="panel-heading">
                  <h2 >Liste fichier</h2>
                  <hr>
                  <h3 style="text-align: center;">Upload de fichier</h3>
                  <div class="form-group">
                    <input type="file" name="pdf" (change)="fileProgress($event)" />
                  </div>
                  <div class="form-group">
                    <button class="btn btn-primary"  (click)="onSubmit()">Ajouter</button>
                  </div>
                </div>
                <div class="panel-body">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Type Fichier</th>
                        <th>Nom du fichier</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let f of fichier | async">
                        <td>PDF</td>
                        <td>{{f.nom_fichier}}</td>
                        <td>
                          <button (click)="detail(f.id)" class="btn btn-success" style="margin-left: 10px; border-radius: 25px;">Afficher</button>
                          <button (click)="updateFichier(f.id)" class="btn btn-info" style="margin-left: 10px;border-radius: 25px;">Modifier</button>
                          <button (click)="download2(f.id)" class="btn btn-warning" style="margin-left: 10px;border-radius: 25px;">Télécharger</button>
                          <button (click)="deleteFichier(f.id)" class="btn btn-danger" style="margin-left: 10px;border-radius: 25px;">Supprimer</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
              </div>
            </div>
      </div>
    </div>
  </div>














































































