<div class="container">
    <br>
    <h2 style="text-align: center;">{{title}}</h2>
    <hr>  
    <div class="card">
      <div class="card-body">
      <h3>Modification d'un utilisateur</h3>
  <div [hidden]="submitted" style="width: 400px;">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
          <label for="name">Nom</label>
          <input type="text" class="form-control" id="nom" required [(ngModel)]="utilisateurs.nom" name="nom">
        </div>
    
        <div class="form-group">
          <label for="name">Prenom</label>
          <input type="text" class="form-control" id="prenom" required [(ngModel)]="utilisateurs.prenom" name="prenom">
        </div>
    
        <div class="form-group">
          <label for="name">Matricule</label>
          <input type="text" class="form-control" id="matricule" required [(ngModel)]="utilisateurs.matricule" name="matricule">
        </div>
    
        <div class="form-group">
            <label for="name">Adresse</label>
            <input type="text" class="form-control" id="adresse" required [(ngModel)]="utilisateurs.adresse" name="adresse">
          </div>
    
          <div class="form-group">
            <label for="name">Email</label>
            <input type="text" class="form-control" id="mail" required [(ngModel)]="utilisateurs.mail" name="mail">
          </div>
    
          <div class="form-group">
            <label for="name">Téléphone</label>
            <input type="text" class="form-control" id="telephone" required [(ngModel)]="utilisateurs.telephone" name="telephone">
          </div>
    
          <div class="form-group">
            <label for="name">Service</label>
            <input type="text" class="form-control" id="service" required [(ngModel)]="utilisateurs.service" name="service">
          </div>
    
          <div class="form-group">
            <label for="name">Fonction</label>
            <input type="text" class="form-control" id="fonction" required [(ngModel)]="utilisateurs.fonction" name="fonction">
          </div>
  
          <div class="form-group">
            <label for="name">Mot de passe</label>
            <input type="password" class="form-control" id="mot_de_passe_identifiant" required [(ngModel)]="utilisateurs.mot_de_passe_identifiant" name="mot_de_passe_identifiant">
          </div>
    
  
      <button type="submit" class="btn btn-success"style="margin-left: 10px;border-radius: 100px;">Enregistrer</button><button (click)="list()" class="btn btn-primary" style="margin-left: 10px;border-radius: 100px;">Retour </button>
     
    </form>
  </div>
      </div>
    </div>
  </div>